Create the SparkSession and set the environment to use our local MongoDB cluster

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook2").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        config("spark.mongodb.input.uri","mongodb://mongo1:27017,mongo2:27018,mongo3:27019/Stocks.Source?replicaSet=rs0").\
        config("spark.mongodb.output.uri","mongodb://mongo1:27017,mongo2:27018,mongo3:27019/Stocks.Source?replicaSet=rs0").\
        config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:3.0.0").\
        getOrCreate()

Next load the dataframes from MongoDB

In [2]:
df = spark.read.format("mongo").load()

Let’s verify the data was loaded by looking at the schema:

In [3]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- company_symbol: string (nullable = true)
 |-- movingAverage: double (nullable = true)
 |-- price: double (nullable = true)
 |-- tx_time: timestamp (nullable = true)

We can see that the tx_time field is loaded as a string. We can easily convert this to a time by issuing a cast statement:

In [6]:
df = df.withColumn("tx_time", df.tx_time.cast("timestamp"))

Next, we can add a new ‘movingAverage’ column that will show a moving average based upon the previous value in the dataset. To do this we leverage the PySpark Window function as follows:

In [8]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

movAvg = df.withColumn("movingAverage", F.avg("price")
             .over( Window.partitionBy("company_symbol").rowsBetween(-1,1)) )

To see our data with the new moving average column we can issue a movAvg.show().

In [9]:
movAvg.show()

+--------------------+--------------------+--------------+------------------+-----+-------------------+
|                 _id|        company_name|company_symbol|     movingAverage|price|            tx_time|
+--------------------+--------------------+--------------+------------------+-----+-------------------+
|[5f527ac22f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.385000000000005|43.38|2020-09-04 13:34:58|
|[5f527ac32f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.39666666666667|43.39|2020-09-04 13:34:59|
|[5f527ac42f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.419999999999995|43.42|2020-09-04 13:35:00|
|[5f527ac52f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.443333333333335|43.45|2020-09-04 13:35:01|
|[5f527ac62f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.46|43.46|2020-09-04 13:35:02|
|[5f527ac72f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.49|43.47|2020-09-04 13:35:03|
|[5f527aca2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.51|43.54|2020-09-04 13:35:06|
|[5f527ac92f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.52|2020-09-04 13:35:05|
|[5f527acd2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.53|2020-09-04 13:35:09|
|[5f527acf2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.54|2020-09-04 13:35:11|
|[5f527ad22f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.51|43.52|2020-09-04 13:35:14|
|[5f527ad42f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.49666666666667|43.47|2020-09-04 13:35:16|
|[5f527ad62f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.48666666666667| 43.5|2020-09-04 13:35:18|
|[5f527ad82f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.473333333333336|43.49|2020-09-04 13:35:20|
|[5f527ada2f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.42666666666667|43.43|2020-09-04 13:35:22|
|[5f527adc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.373333333333335|43.36|2020-09-04 13:35:24|
|[5f527ade2f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.32333333333333|43.33|2020-09-04 13:35:26|
|[5f527ae02f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.303333333333335|43.28|2020-09-04 13:35:28|
|[5f527ae22f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.29333333333333| 43.3|2020-09-04 13:35:30|
|[5f527ae42f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.31| 43.3|2020-09-04 13:35:32|
+--------------------+--------------------+--------------+------------------+-----+-------------------+
only showing top 20 rows

To update the data in our MongoDB cluster, we use the save method.

In [10]:
movAvg.write.format("mongo").option("replaceDocument", "true").mode("append").save()

We can also use the power of the MongoDB Aggregation Framework to pre-filter, sort or aggregate our MongoDB data.

In [11]:
pipeline = "[{'$group': {_id:'$company_name', 'maxprice': {$max:'$price'}}},{$sort:{'maxprice':-1}}]"
aggPipelineDF = spark.read.format("mongo").option("pipeline", pipeline).option("partitioner", "MongoSinglePartitioner").load()
aggPipelineDF.show()

+--------------------+--------+
|                 _id|maxprice|
+--------------------+--------+
|FRUSTRATING CHAOS...|    87.6|
|HOMELY KIOSK UNLI...|   86.48|
| CREEPY GIT HOLDINGS|    83.4|
|GREASY CHAMPION C...|   81.76|
|COMBATIVE TOWNSHI...|   72.18|
|FROTHY MIDNIGHT P...|   66.81|
|ITCHY ACRE CORPOR...|   44.42|
|LACKADAISICAL SAV...|   42.34|
|CORNY PRACTITIONE...|   38.55|
|TRITE JACKFRUIT P...|   22.62|
+--------------------+--------+

Finally we can use SparkSQL to issue ANSI-compliant SQL against MongoDB data as follows:

In [12]:
movAvg.createOrReplaceTempView("avgs")
sqlDF=spark.sql("SELECT * FROM avgs WHERE movingAverage > 43.0")
sqlDF.show()

+--------------------+--------------------+--------------+------------------+-----+-------------------+
|                 _id|        company_name|company_symbol|     movingAverage|price|            tx_time|
+--------------------+--------------------+--------------+------------------+-----+-------------------+
|[5f527ac22f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.385000000000005|43.38|2020-09-04 13:34:58|
|[5f527ac32f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.39666666666667|43.39|2020-09-04 13:34:59|
|[5f527ac42f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.419999999999995|43.42|2020-09-04 13:35:00|
|[5f527ac52f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.443333333333335|43.45|2020-09-04 13:35:01|
|[5f527ac62f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.46|43.46|2020-09-04 13:35:02|
|[5f527ac72f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.49|43.47|2020-09-04 13:35:03|
|[5f527aca2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.51|43.54|2020-09-04 13:35:06|
|[5f527ac92f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.52|2020-09-04 13:35:05|
|[5f527acd2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.53|2020-09-04 13:35:09|
|[5f527acf2f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.53|43.54|2020-09-04 13:35:11|
|[5f527ad22f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.51|43.52|2020-09-04 13:35:14|
|[5f527ad42f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.49666666666667|43.47|2020-09-04 13:35:16|
|[5f527ad62f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.48666666666667| 43.5|2020-09-04 13:35:18|
|[5f527ad82f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.473333333333336|43.49|2020-09-04 13:35:20|
|[5f527ada2f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.42666666666667|43.43|2020-09-04 13:35:22|
|[5f527adc2f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.373333333333335|43.36|2020-09-04 13:35:24|
|[5f527ade2f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.32333333333333|43.33|2020-09-04 13:35:26|
|[5f527ae02f6a1552...|ITCHY ACRE CORPOR...|           IAC|43.303333333333335|43.28|2020-09-04 13:35:28|
|[5f527ae22f6a1552...|ITCHY ACRE CORPOR...|           IAC| 43.29333333333333| 43.3|2020-09-04 13:35:30|
|[5f527ae42f6a1552...|ITCHY ACRE CORPOR...|           IAC|             43.31| 43.3|2020-09-04 13:35:32|
+--------------------+--------------------+--------------+------------------+-----+-------------------+
only showing top 20 rows